{% extends "portal/base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block custom_links %}
    <link rel="stylesheet" type="text/css" href="{% static "styles/main_styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "styles/responsive.css" %}">
{% endblock %}

{% block content %}

    <br><br><br><br><br><br><br>
    <div class="jumbotron container text-center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button class="red_button shop_now_button" type="submit">Register</button>
        </form>

    </div>

{% endblock %}